<%- include("partials/header.ejs") %>
<body>
  <h1><%= listTitle %></h1>

  <div class="app-container">
    <form action="/" class="item-add-form" method="post">
      <input
        id="add-text-area"
        type="text"
        name="newItem"
        placeholder="New ToDo"
        autocomplete="off"
      />
      <input type="hidden" name="listTitle" value="<%= listTitle %>" />
      <button type="submit" id="add-todo-button" name="list">Add</button>
    </form>

    <div class="list-container">
      <% if (listItems.length > 0) { %> <% listItems.forEach((item) => { %> <%-
      include("partials/listElement.ejs", { toDo: item.name, id: item._id }) %>
      <% }); %> <% } else { %>
      <p>No todos yet.</p>
      <% } %>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>
</body>
